/*********************************************************
					Character search
*********************************************************/

.char .wrapper-outer{
	width: 800px;
	height: 703px;
	margin: 50px auto 0;
}